:root {
  --navy: #374375;
  --cloud: #FFFCF5;
  --periwinkle: #BABDE2;
  --maroon: #895159;
  --peach: #DFAEA1;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  color: var(--navy);
  justify-self: center;
  font-size: 10rem;
}

h2{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--navy);
  justify-self: center;
  font-size: 3rem;
}

a{
  text-decoration: none;
  color: var(--navy);
}

