:root {
  --navy: #374375;
  --cloud: #FFFCF5;
  --periwinkle: #BABDE2;
  --maroon: #895159;
  --peach: #DFAEA1;
}


.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Infos de base */

body {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  background-color: var(--cloud);
  color: var(--navy);
}

img{
  max-width: 100%;
}

h1{
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    color: var(--maroon);
    justify-self: center;
    font-size: 6rem;
}

h2{  
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  color: var(--maroon);
  align-self: baseline;
  font-size: 2rem;
  padding-left: 50px;
}


/* ACCUEIL */

/* Header */

.header {
  display: grid;
  align-items: center;
  color: var(--cloud);
  padding: 20px 40px 10px 40px;
}

@media (min-width: 1024px){
  .header{
    grid-template-columns: auto 500px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

.headerleft a {
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    color: var(--navy);
    text-decoration: none;
    justify-self: center;
    /* font-size: 2.8rem; */
}

@media (min-width: 1024px){
  .headerleft a{
    justify-self: left;
    font-size: 2.8rem;
    margin: 0 0 7px 0; 
  }
} 

.headerleft a:hover{
  color: var(--maroon);
  transition: color 0.4s ease;
}


.headerright{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    /* background-color: var(--navy); */
    border-radius: 12px;
}

@media (min-width: 1024px){
  .headerright{
    justify-items: right;
  }
}

/* .headerright:hover {
  background-color: var(--periwinkle);
  transition: background-color 0.4s ease;
} */

.headerright a, .headerright p{
    text-decoration: none;
    color: var(--navy);  
    font-weight: 500;
}

@media (min-width: 1024px){
  .headerright a, .headerright p{
    font-size: 1.4rem;
  }
}


.headerright a:hover, .headerright:hover .btn-deroule{
    color: var(--maroon);
    transition: color 0.5s ease;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.btn-deroule {
    cursor: pointer;
    margin: 0;
}


.dropdown .btn-deroule:hover{
    color: var(--maroon);
    transition: color 0.5s ease;
}

.contenu-deroule {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background: var(--cloud);
    border: 1px solid var(--navy);
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 20;
    min-width: 180px;
}

.dropdown:hover .contenu-deroule {
    display: block;
}

.contenu-deroule a {
    display: block;
    color: var(--navy);
    padding: 5px 0;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 400;
}

.contenu-deroule a:hover {
    color: var(--periwinkle);
}

hr{
  margin: 0 60px;
  background-color: var(--navy);
  height: 2px;
}

/* Grille avec projets */


.gridprojets {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    padding: 50px;
    margin-top: 50px;
}

@media (min-width: 1024px){
  .gridprojets{
    grid-template-columns: repeat(2, 1fr);
  }
}


.projet {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
    text-decoration: none;
    color: var(--navy);
}

.imageaccueil {
    display: grid;
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
    /* border-radius: 16px; */
    /* border: 2px solid var(--periwinkle); */
    transition: border-color 0.5s ease;
}

.projet:hover .imageaccueil {
    border: 2px solid var(--navy);
}

.projet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease; 
    transition: filter 0.5s ease;
    filter:
        grayscale(0.7)
        /* sepia(100%)
        hue-rotate(185deg)
        saturate(100%)
        brightness(80%); */
}

.projet:hover img {
    transform: scale(1.05); 
    filter: none;
}


.projet p{
    margin: 0;
}


/* Pages projets */

.intro{
  margin-left: 50px;
  margin-right: 50px;
  /* color: var(--maroon); */
}

.legendes{
  font-size: 0.9rem;
  padding-left: 50px;
  padding-right: 50px;
}

.grid1{
  padding: 50px;
}

.grid2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  padding: 50px;
}

.grid3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 25px;
  padding: 50px;
}

.grid4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  padding: 50px;
}

.grid5{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  padding: 50px;
}

.grid-imgtxt {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 30px;
    padding: 50px;
    margin-top: 50px;
}

.grid-h2txt{
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
}

.grid-h2txt p{
  align-self: start;
  padding: 0;
}

.grid-h2txt h2{
  padding:0;
  margin-bottom: 0;
  margin-top: 5px;
}

.listegehry {
  padding: 0;
  align-self: start;
}

.txtapropos{
  padding: 30px;
}

.txtapropos a{
  text-decoration: none;
}

.txtapropos a:hover{
  color: var(--maroon);
  transition: color 0.4s ease;
}

.video{
  aspect-ratio: 16/9;
  padding: 50px;
}

.video iframe{
  width: 100%;
  height: 100%;
}

/* Footer */

.footer {
  background-color: var(--cloud);
  color: var(--navy);
  text-align: center;
  padding: 25px 10px;
  font-size: 0.7rem;
  border-radius: 12px;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 40px;
}

.footer .texte {
  margin: 5px 0;
  line-height: 1.4;
}

.footer strong {
  color: var(--maroon);
  font-weight: 600;
}
