:root {
  --navy: #374375;
  --cloud: #FFFCF5;
  --periwinkle: #BABDE2;
  --maroon: #895159;
  --peach: #DFAEA1;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Basteleur;
  src: url(webfonts/Basteleur-Bold.woff2);
  weight: 600;
}

/* Infos de base */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--cloud);
  color: var(--navy);
}

/* ACCUEIL */

/* Header */

.header {
  display: grid;
  align-items: center;
  color: var(--cloud);
  padding: 40px;
  border-radius: 12px;
}

@media (min-width: 1024px){
  .header{
    grid-template-columns: auto auto;
    margin: 30px;
  }
}

.header h1 {
    font-family: Basteleur, sans-serif;
    color: var(--maroon);
    font-size: 3.5rem;
    margin: 0px;
}

@media (min-width: 1024px){
  .header h1{
    font-size: 5rem;
  }
}

.header h1:hover{
  color: var(--navy);
  transition: color 0.4s ease;
}

.headerright{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    background-color: var(--navy);
    border-radius: 12px;
}

.headerright:hover {
  background-color: var(--periwinkle);
  transition: background-color 0.4s ease;
}

.headerright a{
    text-decoration: none;
    color: var(--cloud);
}

.headerright a:hover{
    color: var(--maroon);
    transition: color 0.4s ease;
}

.headerright p{
    color: var(--periwinkle);
}

.headerright:hover p{
    color: var(--navy);
    transition: color 0.4s ease;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.btn-deroule {
    cursor: pointer;
    margin: 0;
}

.dropdown p{
    color: var(--cloud);
}

.headerright:hover .btn-deroule {
    color: var(--cloud);
}

.dropdown .btn-deroule:hover{
    color: var(--maroon);
    transition: color 0.4s ease;
}

.contenu-deroule {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background: var(--cloud);
    border: 1px solid var(--navy);
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 20;
    min-width: 180px;
}

.dropdown:hover .contenu-deroule {
    display: block;
}

.contenu-deroule a {
    display: block;
    color: var(--navy);
    padding: 5px 0;
    text-decoration: none;
    white-space: nowrap;
}

.contenu-deroule a:hover {
    color: var(--periwinkle);
}



/* Grille avec projets */


.gridprojets {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    padding: 50px;
}

@media (min-width: 1024px){
  .gridprojets{
    grid-template-columns: repeat(2, 1fr);
  }
}


.projet {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
    text-decoration: none;
    color: var(--navy);
}

.image {
    display: grid;
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
    border-radius: 16px;
    border: 2px solid var(--periwinkle);
    transition: border-color 0.4s ease;
}

.projet:hover .image {
    border: 3px solid var(--navy);
}

.projet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease; 
    transition: filter 0.4s ease;
    filter:
        grayscale(0.7)
        /* sepia(100%)
        hue-rotate(185deg)
        saturate(100%)
        brightness(80%); */
}

.projet:hover img {
    transform: scale(1.05); 
    filter: none;
}


.projet p{
    margin: 0;
}



/* Footer */

.footer {
  background-color: var(--cloud);
  color: var(--navy);
  text-align: center;
  padding: 25px 10px;
  font-size: 0.7rem;
  border-radius: 12px;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 40px;
}

.footer .texte {
  margin: 5px 0;
  line-height: 1.4;
}

.footer strong {
  color: var(--maroon);
  font-weight: 600;
}
